
.contactForm {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    text-align: start;
    row-gap: 15px;
}

.contactForm button {
    background-color: #6bc9a7;
}

.contactSection {
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.errorBlock {
    color: rgb(245, 96, 96)
}


.inputBlock {
    display: flex;
    flex-direction: column;
}

.inputBlock input {
    height: 30px;
    background-color: #3d3d3d;
    border: solid 1px light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

.inputBlock select {
    height: 36px;
    background-color: #3d3d3d;
    border: solid 1px light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

.inputBlock textarea {
    height: 200px;
    background-color: #3d3d3d;
    border: solid 1px light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
