.biographySection {
    align-items: center;
    border-bottom: solid 1px rgba(255, 255, 255, 0.307);
    display: flex;
    flex-direction: column; 
    padding: 10px 200px 10px 200px;
    text-align: justify;
}

.biographySection h1 {
    text-align: center;
}

.biographySection p {
    font-size: 15px;
    font-weight: bold;
}
  
.profilePhoto {
    border: solid 3px white;
    border-radius: 50%;
    background-color: #6bc9a7;
    padding: 30px;
    width: 200px;
    height: 200px;
    /* animation: rotateAnimation 1s linear 0 infinite alternate; */
    animation: rotate-animation 3s ease-in-out 0s infinite alternate;
}

@media (max-width: 600px) {
    .biographySection {
        padding: 10px 10px
    }
}